html, body {
    height: 100%;
    width:100%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.8;
    color: #818181;
	font-size: 20px;
  }

h3 {
    font-size: 19px;
    line-height: 1.375em;
    color: #303030;
    font-weight: 400;
    margin-bottom: 30px;
  }  

.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.jumbotron {
    position: relative;
    color: #2292A4;
    width: 100%;
    height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-image: url('../img/header.jpg');
    background-color: grey;
  }

#header {
    color: #0F0A0A;
    text-align: center;
    margin-top: 100px;
    font: "Roboto", sans-serif;
    padding: 100px 25px;
	text-transform: capitalize;
}

#about {
  	margin: 0;
  	padding: 20px;
	text-align: justify;
	font-size: 20px;
}

#equation {
	font-size: 16px;
	text-align: center;
	margin-bottom: 2%;
}

#about img {
	width: 30%;
	height: auto;
	border: none;
}

#banner {
	background-image: url(../img/fish.jpeg);
	position: relative;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 30%;
	margin-bottom: 5%;
}

#how-it-works {
  margin: 0;
  padding: 20px;
}

#contact {
	font-size: 20px;
}

#year {
    text-align: right;
}

